* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.1em;
    text-transform: uppercase;

    /* Green */

    color: #4B5C2C;
}

h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

header {
    box-sizing: border-box;
    width: 1440px;
    height: 1060px;
    display: flex;
}

section {
    width: 1440px;
}

header>div {
    box-sizing: border-box;
    background-color: #F0F0F4;
    width: 839px;
    height: 888px;
}

nav {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 135px;
    margin-top: 50px;
}

nav>a {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;

    letter-spacing: 0.1em;
    text-transform: uppercase;


    color: #4B5C2C;
}

header>img {

    width: 601px;
    height: 1060px;
}

.foto {
    display: block;
    position: absolute;
    left: 633px;
    top: 180px;
    width: 379px;
    height: 680px;

    border-radius: 189.5px;
}

.main {
    margin-top: 230px;
    margin-left: 223px;
}

h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
}

h1>img {
    width: 32px;
    height: 32px;
}

.main>.me {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align-last: left;
    margin-top: 30px;
}

.main>.I {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 25px;
}

.mainbtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 223px;
    height: 56px;
    background: #4B5C2C;
    box-shadow: 0px 10px 20px rgba(75, 92, 44, 0.3);
    border-radius: 30.5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: none;
    color: #FFFFFF;
    margin-top: 58px;
    cursor: pointer;
    text-decoration: none;
}

.ps {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #95B55A;
    margin-left: 120px;
    margin-top: 293px;
}

.page2>h2 {
    margin-top: 32px;
    margin-left: 120px;

    margin-bottom: 72px;
}

.deals {
    box-sizing: border-box;
    display: flex;
    width: 150px;
    margin-bottom: 182px;
}

.deal {
    margin-left: 140px;
    display: flex;


}

.deal>div {
    width: 481px;
    height: 48px;
}

.deal>img {
    width: 35px;
    height: 35px;
    margin-right: 49px;
}

.deal>div>h3 {
    margin-bottom: 16px;
    color: #4B5C2C;
}

.deal>div>p {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}

.cost {
    display: flex;
}

.cost>p {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    width: 150px;
    height: 24px;
    margin-right: 55px;
}

.property {
    display: flex;
}

.property>div {

    width: 720px;
    height: 440px;
    background: #4B5C2C;
}

.property>div>p {
    margin-left: 119px;
    color: #FFFFFF;
}

.propertylogo {
    margin-top: 83px;
    margin-bottom: 51px;
}

.propertytxt {
    width: 482px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
}

.propertytxt2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF
}

.propertybtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-left: 119px;
    width: 223px;
    height: 56px;
    border: 1px solid #FFFFFF;
    border-radius: 30.5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
    background: #4B5C2C;
    cursor: pointer;
}

.steps>h2 {
    margin: 72px auto 72px 120px;
}

.steps>div {
    display: flex;
    justify-content: space-between;
}

.steps>div {
    margin-top: 48px;
}

.stepnumber {
    display: block;
    height: 42px;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
}

.step {
    margin-left: 120px;
    display: flex;
}


.steptxt {
    margin-left: 32px;
}

.steptxt.first {
    margin-left: 47px;

}

.step>div>h3 {
    color: #4B5C2C;
    margin-bottom: 24px;
}

.step>div>p {
    width: 276px;
}



.projects {
    background-color: #F0F0F4;
    padding-bottom: 72px;
    padding-top: 72px;
}

.projects>h2 {
    margin-bottom: 72px;
    margin-left: 120px;
}

.project {
    display: flex;
    height: 360px;
    margin-bottom: 72px;
    margin-left: 120px;

}

.project__body{
    display: flex;
}

.project__body>img{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.project>div {
    margin-left: 100px;
    margin-top: 24px;
    width: 480px;
}

.project>div>h2 {
    margin-bottom: 32px;
}

.project>div>h3 {
    margin-bottom: 16px;
}

.project>div>h3>img {
    bottom: 0;
}

.project>div>p {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
}

.project>div>h3>span {
    color: #4B5C2C;
}

.project>img {
    height: 360;
    width: 584px;
    border-radius: 25px;
    transition: .7;
}

.project>img:hover {
    cursor: pointer;
}


.project.itfest>img {
    background-image: url(../img/ITFEST.png);

}

.project.itfest>img:hover {
    background-image: url(../img/ITFESTblur.png);

}

.project.Powerkh>img {
    background-image: url(../img/Powerkh.png);

}

.project.Powerkh>img:hover {
    background-image: url(../img/Powerkhblur.png);

}

.project.E-Sports>img {
    background-image: url(../img/E-Sports\ .png);

}

.project.E-Sports>img:hover {
    background-image: url(../img/E-Sportsblur.png);

}

.project.KidHab>img {
    background-image: url(../img/KidHab.png);

}

.project.KidHab>img:hover {
    background-image: url(../img/KidHabblur.png);

}

.footer {
    padding-top: 50px;

    width: 1440px;
    height: 264px;
    background: #4B5C2C;
}

.footer>h4 {
    margin-bottom: 27px;
    text-align: center;
}

.footer>p {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;


    text-align: center;

    color: #FFFFFF;
}

.footerbtn{
    display: block;
text-decoration: none;
    width: 223px;
    height: 56px;
    background: #4B5C2C;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #FFFFFF;
    border-radius: 30.5px;
    color: #FFFFFF;
    cursor: pointer;
}

.popup {
    display: none;
    box-sizing: border-box;
    width: 1440px;
    height: 1080px;
    background: rgb(27, 27, 31, 0.4);
    transition: .9;
}

.popupwindow {
    box-sizing: border-box;
    display: block;
    width: 640px;
    height: 556px;
    background: #FFFFFF;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popupclose {
    position: fixed;
    right: 5px;
    top: 5px;
}

.popuplogo {
    position: fixed;
    left: 83px;
    top: 83px;
    width: 33px;
    height: 33px;

}

.popuptxt {
    padding-top: 80px;
    margin-left: 144px;
    text-align: left;
    margin-right: auto;

}

.popuptxt>p {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    /* black */

    color: #1B1B1F;

}

.popuplogo {
    width: 25px;
    height: 25px;
}

.popupform {
    width: 480px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.popupformtxt {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #1B1B1F;
    margin-top: 25px;
}

input {
    box-sizing: border-box;
    width: 480px;
    height: 60px;
    background: #CEDCB4;
    border: 1px solid #4B5C2C;
    border-radius: 8px;
}

textarea {
    box-sizing: border-box;
    width: 480px;
    height: 120px;
    background: #CEDCB4;
    border: 1px solid #4B5C2C;
    border-radius: 8px;
    resize: none;
    padding: 15px;
}

.popupbtn {
    width: 184px;
    height: 56px;
    background: #4B5C2C;
    box-shadow: 0px 10px 20px rgba(75, 92, 44, 0.3);
    border-radius: 30.5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    margin-top: 32px;
    margin-left: 294px;
    cursor: pointer;
}
.popup:target {
    display: block;
}

input{
    padding: 15px;
}
